body{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
}

#contentall {
    padding-bottom: 500px;
}

#alles {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* @import url('grid_12-825-55-15.css'); */
/* @font-face {
    font-family: 'across_the_roadregular';
    src: url('../fonts/accros/across_the_road-webfont.woff2') format('woff2'),
         url('../fonts/accros/across_the_road-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
    }
    */


h1{
	font-size: 50px;
	font-weight: lighter;
	font-style: normal;
	margin-bottom: 18px;
    text-align: center;
    font-family: 'british shorthair';    
}

h2{
    text-align: center;
    font-size: 35px;
    font-weight: lighter;

}

a{
    color: #83c0c1;
    text-decoration: none;
}

hr{
    width:80%;
    size:2px;
    color: #83c0c1;
    margin-top: 20px;
    margin-bottom:20px;
    noshade;
} 

/*Menu*/

#uppersection{
    background-color: #ededed;
    height: 70px;
    width:100%;
    margin-top:-7px;
    margin-bottom: 10px;
    position: relative;
}

#uppersection img{
    float: left;
    padding: 10px;
    padding-top: 20px;
}

#login{
    right:50px;
    position: absolute;
    padding-right: 10px;
    margin-top: 3px;
    border: 1px solid #83c0c1;
    border-radius: 10%;
}

#login:hover{
    background-color: white;
}

#menu {
    font-size:14px;
    position:absolute;
    right: 20px;

}

#menu ul {
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0;
}

#menu li.topmenu {
    float:left;
}


.topmenu a {
font-family: 'Lato', sans-serif;
float:left;
width:120px;

font-weight: 100;
font-size: 16px;
color: black;
text-decoration: none;
padding: 10px;
text-transform: none;
background-color: white;
}

.topmenu ul{
    display:none;
}

.topmenu img{
    float:left;
}

.topmenu a, .submenu a{
padding:15px;
color:black;
font-weight:lighter;
text-decoration:none;
margin:0;
}

.submenu a{
    font-size:12px;
    width:120px;
    position:relative;
    clear:both; /* special IE6 */
}

#menu a:hover, .topmenu.on a {
    color: #83c0c1;
}

.topmenu:hover ul {
    display:block;
    z-index:500;
}

/*MenÃ¼ Ende*/

/* zizat anfang */

.box{ 
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
}

.zitat{ 
    float:left;
    margin: 20px;
}

#oben {
    margin-bottom: 50px;
}

#unten{
    transform: rotate(180deg);
    margin-top: 50px;
}

/* zitat ende */


/* Bild und Text nebeneinadner */

.zwei {
    float: left;
    width:50%;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin: auto;
    position: relative;
}

/* drei boxen nebeneinander */

.drei {
    border: 2px solid #83c0c1;
    float:left;
    width: 25%;
    height:500px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

}

/* instagram */

#instagram {
    position:relative;
    text-align: center;
}

/* button */

.buttonGross {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    background-color: #ededed;
    border:2px solid #83c0c1;
    padding:10px 200px;
}

.buttonGross:hover{
    background-color: #83c0c1;
    border:2px solid white;
}

.buttonKlein {
    background-color: #7ab3b4;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 0 #83c0c1;
    margin-bottom: 10px;
    margin-left: 18px;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
    top: -10px;
  }
  
  .buttonKlein:hover {
    background-color: #83c0c1;
  }
  
  .buttonKlein:active {
    background-color: #83c0c1;
    box-shadow: none;
    position: relative;
    top: -8px;
    left: 2px;
  }





.hide-me {
    visibility: hidden;
    opacity: 0;
    transform: scale(.75);
  }


/* Schau was Kunden sagen */

.kunden{ 
    /* background-color:#ededed; */
    width:100%;
    height:600px;
    padding:10px;
    position:relative;
    text-align: center;
    /* z-index: -1; */
}




#polaroids{
    position: relative;
    margin: 20px;
    float: left;
    width: 20%;
}


/* #polaroids :hover{
    background-color:red;
} */


#wackeln{
    border:2px solid #83c0c1;
    border-radius: 15px;
    z-index: 1;
}

/* Seite Reiseziele */

#canvas{
    border: 1px solid black;
}


/* Kalender */

#kalender{
    height: 400px;
    width: 400px;
    background-color:#83c0c1;
}


/*Footer*/


.footer{
    width: 100%;
    height: auto;
    position:absolute;
    bottom: 0px;
    left:0px;
}

.footer_content{
    background-color: #ededed;
    width: 100%;
    height: auto;
    position:absolute;
    bottom: 70px;
    padding: 30px 0px;
}

.footer_content .section{
    width: calc(100%/6);
    height: auto;
    float: left;
    
}

.footer_content .section1{
    width: calc(100%/6);
    height: auto;
    float: left;
    position: relative;
    text-align: center;
}

.footer .footer_content .section a{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color:black;
    text-decoration: none;
    padding: 5px;
    line-height: 1.9;
    letter-spacing: 1.2px;
}

.footer .footer_content .section h3{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #83c0c1;
    text-decoration: none;
    padding: 5px;
    line-height: 1.5;
    letter-spacing: 1.2px;
}



.footer .footer_content .section a:hover{
    color:#83c0c1;
   }
i:hover{
    color:#83c0c1;
}

.footer .footer_bottom{
    clear:left;
    background-color: #83c0c1;
    position:absolute;
    bottom: 0px;
    text-align: center;
    padding-top: 11px;
    width: 100%;
}

.footer .footer_bottom p{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color:black;
    text-decoration: none;
    padding: 5px;
    line-height: 1.5;
    letter-spacing: 1.2px; 
}

.unten{
    width: 100%;
    height: 100px;  
}


/*Footer Ende*/



/* Lisas Style Start */



/*Infobox*/

#infobox{
    position: relative;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    /* margin-left: 200px; */
    background-color:none;
    height: 270px;
    width: 350px;
}

/* Infobox Ende */

/*Kontaktformular*/

input{
    border: 2px solid #83c0c1;
    height:40px;
    width: 80%;
    margin:20px;
}

textarea{
    border: 2px solid #83c0c1;
    height:300px;
    width: 80%;
    margin:20px;
}

#formular{
    height: fit-content;
    width: fit-content;
    background-color:none;
    margin:auto;
    text-align: center;
}

/* Formular ende */


  /*TeamSeite*/

  .Schriftbox{
    background-color: none;
    position: relative;
    text-align: left;
    height: 40px;
    width: 300px;
    margin-top: 100px;
    margin-left: 10%;
    font-size: 32px;
    font-weight: 150;
  }  


  .gründerbox{
    background-color:none;
    position: relative;
    text-align: left;
    height: auto;
    width: 500px;
    margin-left: 11rem;
    z-index:-3;
    }   

    .polaroid_gründer{
        position: absolute;
        
        /*versch. browser und syntax*/
        -webkit-transform:rotate(8deg); /* Chrome, Safari, Opera */
        -moz-transform: rotate(8deg);   /*firefox*/
        -ms-transform: rotate(8deg);    /*edge*/
        -o-transform: rotate(8deg);     /*Opera */
        transform: rotate(8deg);

        margin-top: -20px;
        margin-left: 60%;   
        z-index: 1;
    }

#startbild{
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align:center;
    margin: auto;
}

    /* Slidshow Start */
    .slideshow{ 
        width: 100%;
        height: 600px;
        box-shadow:0px 0px 10px gray;
        position: relative;  
    }
    .slideshow2{ 
        width: 100%;
        height: 400px;
        box-shadow:0px 0px 10px gray;
        position: relative;  
    }
    
    .slide{ 
        position:absolute;
        top:0; /* sorgt dafür, dasss der Slider in der Slidesho die gleiche Größe hat*/
        right:0;
        left:0;
        bottom: 0;
        overflow: hidden; /* Wenn das bild größer ist als der Div, wirs es abgeschnitten*/
        opacity: 0; /*jetzt ohne Deckkraft, damit man in js jedes einzelne Bild wieder aufrufen kann*/
        transition:opacity 2s; /* damit die bilder Smooth wechseln*/
    }
    
    .slide_bild{ 
        height: 100%;
        width:100%;
    }
    
    
    .slide_textbereich{ 
        position:absolute;
        left:0;
        right: 0;
        bottom: 0;
        top: 70%;
        background-color:rgba(0,0,0,0.3);
        color:white;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 15% 0 15%;
    }
    .slide_h1{ 
        /* font-size: 2em; */
        margin: 10px;
    }
    
    .slide_p{ 
        font-size: 1.4em;
        margin:0;
    }
    
    .pfeil{ 
        position:absolute;
        top: 0;
        bottom: 0;
        font-size:50px; /*die pfeile sind ja ganz normale Zeichen aus dem UTF-8 Schrift*/
        font-weight:bold;
        color:rgba(225,225,225,0.5);
        display: flex;
        justify-content:center;
        align-items: center;
        width:15%;
        user-select: none; /*das man Pfeil nicht mehr auswählen kann (text)*/
        cursor: pointer; /*Maus zeigt an, dass man klicken kann*/
    }
    
    
    .pfeil:hover{
        color: white;
    }
    
    .pfeil_links{ 
        left: 0;
    }
    
    
    .pfeil_rechts{ 
        right: 0;
    }
    
    
    .punkte_liste{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        list-style-type: none; /*das die aufzaälungszeichen verschwinden*/
        font-size: 40px;
        display: flex;
        justify-content:center;
        margin:0;
        padding:0;
    
        
    }
    
    .punkte{
        padding:0 10px;
        user-select: none;
        cursor: pointer;
        color:black;
        opacity: 0.5;
        transition:opacity 2s; /* damit die bilder Smooth wechseln*/
    }
    
    /* damit der Punkt den wir auswählen 100% Deckkraft hat */
    .aktiv{
        opacity:1;
    }


/* slideshow Ende */


/* Cookiebanner */
p{
    margin:24px 0;
}

.wrapper{
    padding:32px;
}

.cookie_container{
    position: fixed;
    bottom:-150px;
    right: 0;
    left: 0;
    background: #83c0c1;
    color: white;
    padding:0 32px;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(0,0,0,0.4);
}

.cookie_container.active{
    bottom :0;
}

.cookie_button{
    border:0; 
    border-radius:16px;
    padding: 12px 48px;
    margin-bottom: 10px;
    font: size 18px;
    cursor: pointer;
}


/* Ajax

#header{
    position: relative;
    margin:auto;
} */